html,body {
    font-family: HelveticaNeue-Light, Helvetica, sans-serif;
    font-size: 16px;
}

.container {
    margin: 40px auto 0 auto;
    width: 720px;
}

.change-location {
    margin-bottom: 20px;
}

.change-location input {
    display: inline-block;
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 6px 10px;
    font-size: 14px;
    width: 250px;
}

.change-location button {
    display: inline-block;
    margin-left: 15px;
    padding: 6px 10px;
    color: #ffffff;
    background-color: #5cb85c;
    border: 1px solid #5cb85c;
    border-radius: 3px;
    font-size: 14px;
}
